.reveal .state-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.title .reveal .state-background {
  background-size: 100%;
  background-image: url(/img/emerge-title-background.png);
}

.dimensions-of-health-index .reveal .state-background {
  background-image: url(/img/emerge-dimensions-of-health-index-background.png);
}

.emotional-health .reveal .state-background {
  background-image: url(/img/emerge-emotional-health-background.png);
}

.mental-health .reveal .state-background {
  background-image: url(/img/emerge-mental-health-background.png);
}

.physical-health .reveal .state-background {
  background-image: url(/img/emerge-physical-health-background.png);
}

.social-health .reveal .state-background {
  background-image: url(/img/emerge-social-health-background.png);
}

.spiritual-health .reveal .state-background {
  background-image: url(/img/emerge-spiritual-health-background.png);
}

.reveal h1, .reveal h2, .reveal h3, .reveal p, .reveal a {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
