.reveal .state-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.title .reveal .state-background {
  background-image: url(/img/emerge-background-title.png);
}

.emotional-health .reveal .state-background {
  background-image: url(/img/emerge-background-emotional-health.png);
}

.mental-health .reveal .state-background {
  background-image: url(/img/emerge-background-mental-health.png);
}

.physical-health .reveal .state-background {
  background-image: url(/img/emerge-background-physical-health.png);
}

.social-health .reveal .state-background {
  background-image: url(/img/emerge-background-social-health.png);
}

.spiritual-health .reveal .state-background {
  background-image: url(/img/emerge-background-spiritual-health.png);
}

.title .reveal, .title .reveal h1, .title .reveal h2, .title .reveal h3 {
  color: white;
}
